<div class="caixa">
    <br>
    <h1 class="title">Station Register</h1>
    <div class="form">
        <div class="forminput">
            <div class="formwidht">
                <h5 class="subtitle">Endereço IP</h5>
                <input
                    type="text"
                    class="form-control"
                    id="EnderecoIp"
                    placeholder="Endereço de IP"
                />
                <h5 class="subtitle">Descrição</h5>
                <input
                    type="text"
                    class="form-control"
                    id="username"
                    placeholder="Descrição"
                />
                <div class="form-check form-switch">
                    <h5 class="subtitle">Ativo</h5>
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                </div>
            </div>
            <div class="bar2">
                <p>Produtos Selecionados</p>
            </div>
            <p>a</p>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>