<body>
    <header class="teste">
        <div class="gradiente"></div>
        <div class="caixa">
            <div class="left">
                <a href="#">
                    <img src="./assets/img/Bosch-logo.svg.png" class="tamanholog"/>
                </a>
            </div>
            <div class="right">
                <nav class="menu">
                    <a class="item" [routerLink]="['/login']">Login</a>
                    <a class="item" [routerLink]="['/perfil']">Perfil</a>
                    <a class="item" [routerLink]="['/cadastro']">Cadastro</a>
                </nav>
            </div>
        </div>
    </header>
</body>

